<div style="float: left; margin-right: 200px">
    All questionaries:
    <ul>
        <li ng-repeat="questionary in vm.questionaries | orderBy:'createdOn':true">
            <a ng-href="/#view/{{questionary.id}}">{{vm.getFullName(questionary)}}</a>
        </li>
    </ul>
</div>
<div>
    Suspicious questionaries:
    <ul>
        <li ng-repeat="questionary in vm.suspiciousQuestionaries | orderBy:'createdOn':true">
            <a ng-href="/#view/{{questionary.id}}">{{vm.getFullName(questionary)}}</a>
        </li>
    </ul>
</div>
<br/>
<br />
<a ng-href="/api/questionary/excelall">Download all</a>
<br />
<a ng-href="/api/questionary/excelsuspicious">Download suspicious</a>
<br />
<a ng-href="/#questionary">Add questionary</a>